
body {
  background-color: #f7f0f0;
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
  position: relative; 
}

.jumbotron {
  background-image: url('assets/bubble\ blower_EEZY_RMPL-01.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.woman {
  max-width: 70%;
  max-height: 70%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: #07173D;
  color: #7585AB;
  position: absolute;
  bottom: 0;
}

footer p {
  display: flex;
  align-items: center;
  background-color: #07173D;
  color: #7585AB;
}

footer img {
  margin-left: 10px;
  align-items: center;
}