html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template: 
    "header header header header" 2.5em
    "hero hero hero hero" 20vh
    ". sidebar main ." auto
    "footer footer footer footer" 5em
    / 0.5fr minmax(15em, 2fr) 5fr 0.5fr
}

.header {
  grid-area: header;

}

.header,
.hero,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0px;
}

.hero {
  grid-area: hero;
  
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;

}