html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template: 
    "header" 2.5em
    "hero" 30vh
    "sidebar" auto
    "main" auto
    "footer" 5em
    / 1fr;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header,
.hero,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  grid-area: header;
  background: #0a425c;
}

.header > p {
  font-size: 1rem;
    margin: 0px;
    color: #C9EBF9;
}

.hero {
  grid-area: hero;
  background-image: url('assets/bubble\ blower_EEZY_RMPL-01.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  color: #0a425c;
  margin: 0;
}

.hero-btn {
  cursor: pointer;
  text-decoration: none;
  color: #0a425c;
  font-size: 1rem;
  padding: .25em;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 2;
}

.hero-btn::after {
  content: "";
  position: absolute;
  background: #ABB2B6;
  height: .75rem;
  width: 38%;
  left: 0;
  top: 50%;
  z-index: -1;
  transform-origin: bottom left;
  transition: transform 250ms cubic-bezier(1,-0.55,.41,1.72);
}

.hero-btn:hover::after,
.hero-btn:focus::after {
  transform: scale(2.75, 2);
  transform-origin: bottom left;
  transition: transform 250ms;

}

.sidebar {
  grid-area: sidebar;
  background: #ABB2B6;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
}

.sidebar-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  margin: 0;
}



.main {
  grid-area: main;
}

#chartArea {
  -webkit-box-shadow: 5px 5px 15px 5px #0a425c; 
  box-shadow: 5px 5px 15px 5px #0a425c;
  margin: 2rem 0rem 2rem 2rem;
}

footer {
  grid-area: footer;
  background: #0a425c;
}

footer > a {
  text-decoration: none;
  color: #C9EBF9;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
}

footer > a:hover {
  color: #ABB2B6;
}

footer > a::after {
  content: url(assets/GitHub-Mark-Light-32px.png);
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template: 
      "header header header header" 2.5em
      "hero hero hero hero" 30vh
      ". sidebar main ." auto
      "footer footer footer footer" 5em
      / 0.5fr minmax(10em, 2fr) 5fr 0.5fr;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Roboto', sans-serif;
      margin: 0;
  }
  .hero-title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    display: grid;
    grid-template: 
      "header header header header" 2.5em
      "hero hero hero hero" 30vh
      ". sidebar main ." auto
      "footer footer footer footer" 5em
      / 0.5fr minmax(10em, 2fr) 5fr 0.5fr;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Roboto', sans-serif;
      margin: 0;
  }
  .hero-title {
    font-size: 6rem;
  }
  .sidebar {
    font-size: .9rem;
  }
  .sidebar-title {
    font-size: 2.5rem;
  }
}